.contenedor-principal-productos {
    background-color: #EDF0F1;
}

.productos {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
}

.producto-agotado {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: var(--accent1);
    font-size: 2rem;
    font-weight: 600;
}

.producto {
    width: 24%;
    padding: 20px 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(32, 31, 31, 0.7);
}

.producto>img {
    width: 50%;
    align-self: center;
    margin-bottom: 15px;
}

.nombre-producto1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: var(--accent1);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.descripcion-producto {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.3rem;
}

.producto>a {
    text-decoration: none;
}

.price-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.producto-cantidad {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    color: gray;
    border: 1px solid var(--accent4);
    border-radius: 2rem;
    padding: .7rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.color-resaltado {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    align-items: center;
    color: var(--accent1);
}

.producto-carrito {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.producto-add {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100%;
    border-radius: 2rem;
    color: gray;
    padding: .7rem;
    border: 1px solid var(--accent4);
    background: none;
    font-size: 1.5rem;
}

.icono-cart {
    margin-left: 1rem;
}

.producto-add:focus,
.producto-cantidad:focus {
    outline: none;
    background: none;
}

.producto-add:hover {
    outline: none;
    cursor: pointer;
    color: white;
    background-color: var(--accent4);
}

.page-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
    font-weight: 800;
    font-size: 4rem;
    color: var(--accent4);
}

@media all and (max-width: 850px) {
    .producto {
        width: 40%;
    }
    /*  .nombre-producto {
        font-size: 1.5rem;
        height: 5rem;
    } */
    .descripcion-producto {
        font-size: 1.5rem;
        font-weight: medium;
    }
    .page-title {
        font-size: 2.5rem;
    }
}

@media all and (max-width: 550px) {
    .producto {
        width: 100%;
    }
    .page-title {
        font-size: 2.5rem;
    }
}