.contenedor-form {
    padding: 2rem 3rem;
    width: 40%;
    background-color: white;
    border-radius: 1rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: var(--accent4);
}

.sombra-dark {
    -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 1024px) {
    .contenedor-form {
        width: 90%;
    }
}