        .contenedor-producto {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .imagen-producto {
            width: 100%;
            height: 20rem;
        }
        
        .nombre-producto {
            text-align: center;
            font-family: 'M PLUS Rounded 1c', sans-serif;
            color: var(--accent1);
            font-size: 2rem;
            height: 5rem;
        }
        
        .descripcion-producto {
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-size: 1.5rem;
            font-weight: medium;
            margin: 2rem auto;
        }
        
        .divisor {
            width: 90%;
            border: none;
            background-color: lightgray;
            height: 1px;
        }
        
        .boton-ver-producto {
            font-family: 'M PLUS Rounded 1c', sans-serif;
            text-align: center;
            font-size: 1.5rem;
            margin: 2rem auto;
            width: 50%;
            padding: .5rem;
            border-radius: 2rem;
            color: gray;
            border: 1px solid var(--accent4);
        }
        
        .boton-ver-producto:focus {
            outline: none;
            background: none;
        }
        
        .boton-ver-producto:hover {
            outline: none;
            cursor: pointer;
            color: white;
            background-color: var(--accent4);
        }
        
        @media screen and (min-width: 500px) {
            .contenedor-producto {
                width: 50%;
            }
            .imagen-producto {
                width: 70%;
                height: 20rem;
            }
        }
        
        @media screen and (min-width: 1200px) {
            .contenedor-producto {
                width: 30%;
            }
        }