.contenedor-precios {
    margin-top: 6rem;
    background-color: #EDF0F1;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vigencia {
    margin-bottom: 2rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.5rem;
    color: var(--accent4);
}

.link-lista {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: 1px solid var(--primario);
    color: white;
    background-color: var(--accent4);
}

.link-lista:hover {
    outline: none;
    cursor: pointer;
    background-color: var(--blanco);
    color: var(--accent4);
}