.perfil-contenedor {
    margin-top: 6rem;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-profile {
    display: block;
    top: 0px;
    position: relative;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #cccccc;
    height: 60vh;
    width: 50vw;
}

.card-profile .go-corner {
    background-color: var(--accent4);
    height: 100%;
    width: 16px;
    padding-right: 9px;
    border-radius: 0;
    transform: skew(6deg);
    margin-right: -36px;
    align-items: start;
    background-image: linear-gradient(-45deg, #8F479A 1%, #DC2A74 100%);
}

.card-profile .go-arrow {
    transform: skew(-6deg);
    margin-left: -2px;
    margin-top: 9px;
    opacity: 0;
}

.card-profile:hover {
    border: 1px solid #CD3D73;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .12), 0 .4rem .8rem rgba(0, 0, 0, .06);
}

.card-profile h3 {
    margin-top: 8px;
    font-size: 2rem;
    color: #CD3D73;
}

.card-profile:hover .go-corner {
    margin-right: -12px;
}

.card-profile:hover .go-arrow {
    opacity: 1;
}

.header-card-profile {
    text-align: center;
    border-bottom: 1px solid #cccccc;
    height: 10%;
}

.body-card-profile {
    height: 80%;
}

.body-card-profile p {
    font-size: 2rem;
}

.footer-card-profile {
    border-top: 1px solid #cccccc;
    height: 10%;
    font-size: 2rem;
    color: var(--accent);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

.footer-card-profile i {
    margin-top: 4rem;
    margin-right: 1rem;
}

.footer-card-profile i:hover {
    color: var(--accent4);
}

.tooltip {
    display: flex;
    flex-direction: column;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 1rem;
    width: 5rem;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2px 0px;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    bottom: 55px;
    right: 50px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 800px) {
    .card-profile {
        width: 95vw;
    }
    .body-card-profile p {
        font-size: 1.5rem;
    }
}